source https://api.nuget.org/v3/index.json
storage none
framework: net6.0

nuget AspNetCore.HealthChecks.UI.Client
nuget AspNetCore.HealthChecks.Redis
nuget Newtonsoft.Json
nuget LanguageExt.Core
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget System.Text.Json
nuget Swashbuckle.AspNetCore
nuget RossmannPL.Common
nuget ClrHeapAllocationAnalyzer 
nuget Scrutor
nuget Grpc.AspNetCore
nuget Polly
nuget FluentValidation
nuget FluentValidation.AspNetCore
nuget AutoFixture
nuget FluentAssertions
nuget xunit
nuget xunit.runner.visualstudio
nuget Moq
nuget Microsoft.NET.Test.Sdk
nuget coverlet.collector
nuget Grpc.Net.Client
nuget Testcontainers 
nuget Alba